.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .flex-container > div {
    background-color: #1980d4;
    width: 5%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }